@media (max-width: 768px) {
	
	#main-nav {
		background-color: #fff;
	}

	#main-nav ul .menu-item a {
		color: #333333;
	}
	
	#main-nav ul .menu-item a:hover {
		color: #0ed8d6;
	}
    #logo {
        color: #333333;
    }